body {
    background-color: midnightblue;
    }
    
    .tecnologia1 {
 
    margin-left: auto;
    
    }
    
    #foto1{
        margin-left: 320px;
        padding: 30px;
    }

    #texto1 {
    color: aliceblue;
        text-align: center;
    }
