body {
    background-color: rgb(0, 0, 0);
    }
    
    .tecnologia1 {
 
    margin-left: auto;
    
    }
    
    #foto1{
        padding-left: 330px;
     width: 253px;
    }

    #texto1 {
    color: aliceblue;
        text-align: center;
    }

#texto2 {

color: aliceblue;
text-align: center;

    }

    #texto3 {

color: aliceblue;
text-align: center;

    }

#fone {

width: 200px;
padding-left: 280px;
}

#cadeira {

width: 190px;

}

#texto4 {
color: aliceblue;
text-align: center;
}

#button {
    margin-left: 610px;
width: 150px;
}

#prefere {

color: aliceblue;
text-align: center;
}

#waths {
width: 60px;
}

#telefone {
width: 60px;
}
#email {
width: 60px;

}

#contato {
color: aliceblue;
}

#contato2 {
color: aliceblue;

}
