body {
    background-color: midnightblue;
    }
    
    .tecnologia1 {
 
    margin-left: auto;
    
    }
    
    #foto1{
        margin-left: 320px;
        padding: 30px;
    }

    #texto1 {
    color: aliceblue;
        text-align: center;
    }

#texto2 {

color: aliceblue;
text-align: center;

    }

    #texto3 {

color: aliceblue;
text-align: center;

    }
#foto2 {
width: 900px;
padding: 100px;  
margin-left: 390px
}

#texto4 {
color: aliceblue;
text-align: center;
}

#button {
    margin-left: 870px;
width: 150px;
}


